<a href="https://colab.research.google.com/github/Hozard0/IT-academy-practical-/blob/main/%D0%92%D0%B0%D1%80%D0%B8%D0%B0%D0%BD%D1%82_2_%D0%9A_%D0%A1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Капушев Сергей, Вариант 2**

In [178]:
# Капушев Сергей, Вариант 2

import pandas as pd   # основная библеотека для работы


# Ссылка на csv файл с данными
url = "https://gist.githubusercontent.com/Hozard0/5733edf12ed98d63af02bc7bfb654a7e/raw/3ae5e6776c1cb98875b4a416b75254000a0a7f33/%25D1%2581%25D0%25BE%25D1%2582%25D1%2580%25D1%2583%25D0%25B4%25D0%25BD%25D0%25B8%25D0%25BA%25D0%25B8_%25D1%2582%25D0%25B0%25D0%25B1%25D0%25BB%25D0%25B8%25D1%2586%25D0%25B0_%25D1%2581_%25D0%25B4%25D0%25B0%25D1%2582%25D0%25B0%25D0%25BC%25D0%25B8.csv"

# Передадим csv файл в DataFrame
df = pd.read_csv(url)

# Узнаем настоящее время (по Томскому времени)
current_datetime = pd.Timestamp.now()
current_datetime = current_datetime+pd.Timedelta(hours = 7)
print(f"Дата: {current_datetime}")

Дата: 2024-10-23 03:32:36.740953

In [181]:
# Преобразуем str в date, и находим стаж работы в годах
date_series = pd.to_datetime(df['Дата приема на работу'])
df['Стаж'] = (current_datetime - date_series).dt.days // 365

# Фильтрация стажа
def stage(asg):
  if asg < 3:
    return 'Мало'
  elif (asg >= 3) & (asg <= 7):
    return 'Средний'
  elif asg > 7:
    return 'Большой'
df['Категория стажа'] = df['Стаж'].apply(stage)

# Удаление ненужного столбца
df.drop('Стаж', axis = 1, inplace = True)
df

,Имя,Отдел,Зарплата,Дата приема на работу,Категория стажа
0,Сергей,Бухгалтерия,98268,2018-03-26 03:37:48.649162,Средний
1,Мария,IT,73567,2015-03-30 03:37:48.649162,Большой
2,Елена,Маркетинг,72613,2021-03-29 03:37:48.649162,Средний
3,Светлана,Маркетинг,75891,2023-02-08 03:37:48.649162,Мало
4,Светлана,Продажи,51243,2023-11-15 03:37:48.649162,Мало
5,Дмитрий,Продажи,71993,2016-10-19 03:37:48.649162,Большой
6,Ольга,Маркетинг,116293,2020-09-26 03:37:48.649162,Средний
7,Дмитрий,Бухгалтерия,85026,2017-07-17 03:37:48.649162,Средний
8,Елена,Маркетинг,110471,2021-12-29 03:37:48.649162,Мало
9,Дмитрий,Бухгалтерия,110966,2024-06-03 03:37:48.649162,Мало
10,Елена,Маркетинг,78600,2022-10-16 03:37:48.649162,Мало
11,Иван,HR,69512,2019-04-03 03:37:48.649162,Средний
12,Павел,HR,82620,2017-01-21 03:37:48.649162,Средний
13,Алексей,Маркетинг,110186,2022-04-06 03:37:48.649162,Мало
14,Светлана,Продажи,47089,2018-12-31 03:37:48.649162,Средний
15,Анна,Бухгалтерия,62230,2023-07-30 03:37:48.649162,Мало
16,Елена,HR,48983,2017-04-13 03:37:48.649162,Средний
17,Иван,Бухгалтерия,119688,2020-10-06 03:37:48.649162,Средний
18,Светлана,IT,112457,2017-11-08 03:37:48.649162,Средний
19,Ольга,Продажи,36921,2014-10-26 03:37:48.649162,Большой
20,Дмитрий,Продажи,68804,2018-10-28 03:37:48.649162,Средний
21,Сергей,IT,97699,2017-05-14 03:37:48.649162,Средний
22,Павел,Продажи,100608,2019-12-27 03:37:48.649162,Средний
23,Иван,HR,67619,2022-10-13 03:37:48.649162,Мало
24,Дмитрий,IT,37877,2017-11-15 03:37:48.649162,Средний
25,Анна,HR,113966,2018-10-09 03:37:48.649162,Средний
26,Иван,HR,31871,2019-03-08 03:37:48.649162,Средний
27,Дмитрий,IT,103135,2022-03-14 03:37:48.649162,Мало
28,Дмитрий,Бухгалтерия,32496,2019-12-10 03:37:48.649162,Средний
29,Павел,Бухгалтерия,77954,2017-04-16 03:37:48.649162,Средний
30,Сергей,Продажи,54675,2023-10-14 03:37:48.649162,Мало
31,Сергей,IT,61921,2018-12-10 03:37:48.649162,Средний
32,Сергей,HR,30797,2022-06-12 03:37:48.649162,Мало
33,Павел,Бухгалтерия,79811,2020-09-08 03:37:48.649162,Средний
34,Дмитрий,Бухгалтерия,98755,2018-06-12 03:37:48.649162,Средний
35,Ольга,Продажи,110782,2016-01-13 03:37:48.649162,Большой
36,Дмитрий,Продажи,111857,2021-02-21 03:37:48.649162,Средний
37,Сергей,Продажи,82489,2016-03-09 03:37:48.649162,Большой
38,Павел,Продажи,114665,2019-11-07 03:37:48.649162,Средний
39,Павел,IT,71504,2019-06-17 03:37:48.649162,Средний
40,Иван,Маркетинг,79866,2017-12-20 03:37:48.649162,Средний
41,Мария,Бухгалтерия,114212,2016-05-14 03:37:48.649162,Большой
42,Ольга,Продажи,41723,2020-06-20 03:37:48.649162,Средний
43,Ольга,HR,73890,2021-02-08 03:37:48.649162,Средний
44,Светлана,Бухгалтерия,47591,2024-09-02 03:37:48.649162,Мало
45,Мария,Продажи,88146,2024-05-11 03:37:48.649162,Мало
46,Иван,Продажи,89300,2015-04-26 03:37:48.649162,Большой
47,Светлана,IT,119141,2022-06-28 03:37:48.649162,Мало
48,Анна,Маркетинг,101557,2015-03-16 03:37:48.649162,Большой
49,Алексей,Маркетинг,50006,2020-08-29 03:37:48.649162,Средний

In [ ]:
# Преобразуем str в date, и находим стаж работы в годах
date_series = pd.to_datetime(df['Дата приема на работу'])
df['Стаж'] = (current_datetime - date_series).dt.days // 365

# Фильтрация стажа
def stage(asg):
  if asg < 3:
    return 'Мало'
  elif (asg >= 3) & (asg <= 7):
    return 'Средний'
  elif asg > 7:
    return 'Большой'
df['Категория стажа'] = df['Стаж'].apply(stage)

# Удаление ненужного столбца
df.drop('Стаж', axis = 1, inplace = True)

# Сводная таблица, которая покажет среднюю зарплату сотрудников по отделам и категориям стажа
mean_salary = df.pivot_table(index=['Отдел', 'Категория стажа'],values=['Зарплата'], aggfunc='mean')
mean_salary